.friendMessage {
   /*border: 2px solid black;*/
   display: flex;
   flex-direction: column;
}

.friendImageAndText {
   /*border: 2px solid #ee0707;*/
   display: flex;
   align-items: flex-end;
   }

.friendImageAndText img {
   /*border: 2px solid #d39614;*/
   height: 48px;

}

.friendText {
   /*border: 2px solid #46d501;*/
   background-color: #0066CC;
   border-radius: 10px;
   padding: 5px;
   color: white;
   margin-left: 10px;
   }

.friendText:after {

}

.friendName {
   /*border: 2px solid #0ca2c2;*/
   margin: 5px;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
}

.friendMessageText {
   /*border: 2px solid #0d24c4;*/
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   margin: 5px;
}

.friendTime {
   /*border: 2px solid #ae05d3;*/
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 12px;
   color: #000000;
   padding-left: 11px;
}
